@use "../styles/theme.scss";

:local(.sign-in-button) {
    display: none;
    @media(min-width: theme.$breakpoint-lg) {
        display: none;
        visibility:hidden;
      }
}

:local(.mobile-sign-in) {
    display: none;
    @media(min-width: theme.$breakpoint-lg) {
        display: none;
        visibility:hidden;
      }
}
